<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spring.cloud.service.mapper.TestDateMapper">


   <insert id="addTest" parameterType="spring.cloud.service.vo.TestDate">
       insert into test_date(id,user_name,`start`,`end`)values (
       #{id},
       #{userName},
       #{start},
       #{end}
       )
   </insert>

</mapper>







